{% render 'partials/head.liquid' %}
<nav>
    <img src="assets/logoPink.svg" alt="logo">
    <img class="list-logo" src="assets/listLogo.svg" alt="list">
    <img class="login-logo" src="assets/loginLogo.svg" alt="login">
</nav>
{% render 'partials/foot.liquid' %}